services:
  reverse-proxy:
    image: caddy:2
    container_name: reverse-proxy
    restart: unless-stopped
    ports: ["80:80","443:443"]
    volumes:
      - ./reverse-proxy/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - api
    networks:
      - appnet

  api:
    image: ghcr.io/hwanjung/emotion-diary-api:latest
    container_name: api
    restart: unless-stopped
    env_file: .env.prod
    expose: ["8080"]
    depends_on: [redis]
    networks: [appnet]

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - redis_data:/data
    networks: [appnet]

networks:
  appnet:

volumes:
  caddy_data:
  caddy_config:
  redis_data:
