version: "3.8"
services:
  postgres:
    image: postgres:17
    container_name: postgres
    env_file:
      - ./.env
    environment:
      POSTGRES_INITDB_ARGS: "--lc-messages=C --encoding=UTF8"
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres} -d ${POSTGRES_DB:-postgres}" ]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 10s
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    env_file:
      - ./.env
    command: >
      sh -c "redis-server
             --appendonly yes                  
             --save 60 1000
             --protected-mode yes
             --requirepass ${REDIS_PASSWORD}"
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 5s
    restart: unless-stopped

volumes:
  pgdata:
    name: pgdata
  redis_data:
    name: redis_data