version: "3.8"
services:
  postgres:
    image: postgres:17
    container_name: postgres
    env_file:
      - ./.env
    environment:
      POSTGRES_INITDB_ARGS: "--lc-messages=C --encoding=UTF8"
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"

volumes:
  pgdata:
    name: pgdata
