{
    email jh013188@gmail.com

    log {
        output stdout
        format json
    }
}
3.39.231.176.nip.io {
    encode zstd gzip

    @http protocol http
        redir @http https://{host}{uri} permanent

    reverse_proxy api:8080 {
        header_up Host {host}
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Real-IP {remote_host}
    }
}

