{
  email jh013188@gmail.com
}
emotiondiary-api.duckdns.org {
    encode zstd gzip

    log {
        output stdout
        format console
    }

    # API 컨테이너로 reverse proxy
    reverse_proxy api:8080
}

